*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* background-color: black; */
}
.navbar-img{
    width:5%;
    /* padding: 5%; */
    /* background-color: black; */
     border-radius: 25%;
}
.navbar li{
align-items: center;
}
.nav-item{
    color: white;
}
.three-line{
    color: white;
}
/* .bg-img{

    opacity: 0.9;
} */
/* .bg-image{
    background-image: url(./img/codingbg.jpg);
    /* opacity: 0.5; */
    /* width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    font-size: 25px;
    color: rgb(238, 235, 235);
    font-weight:400;

} */ 

#header{
    /* position: fixed; */
    /* top:2; */
     z-index: 1000;
    }
/* #navbar a:hover{
    color: blue;
} */

.bg-image{
    position: relative;
    background-image:url(./img/codingbg.jpg) ;
    width: 100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
     background-position:center;
     padding-top: 5%;
     
     

}
/* .about{
    background-color: black(black, white, 0.5);
background-image: radial-gradiorent(to right 0%,  white 25%, black 50%);
    width:50%;
} */
.data{
    padding-top: 30%;
 /* border: 2px solid rgb(224, 18, 18); */
     padding: 10px 20px;
     margin-left: 50px;
     padding-top: 20%;
     /* background-color: black; */
     color: white;
    /* opacity:0.7; */
text-align: center;
/* padding-top: 30%; */
/* font-size: 30px; */
}
.data h1{
    font-size: 50px;
    color:white;
}
.data h3{
    font-size: 30px;
}
.data p{
    font-size: 19px;
    color: white;
    align-items: center;
}
.hero{
    background-image: url(./img/codingbg.jpg);
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;

}
.master{
        background: linear-gradient(to bottom, #070808 10%, #eae8e9 100% black 5%);
        width: 100%;
        height: 80vh;
        opacity: 0.6;
}
.about-img{
    width: 50%;
}

#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding-top: 20px;
}
#about-img{
    width: 50%;
    border-radius: 50%;
    box-shadow: 1px 4px 3px 4px rgb(120, 120, 161);
    
}
#about img:hover{
    box-shadow: 2px 6px 5px 9px rgb(136, 200, 214)
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url(./img/codingbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    padding: 70px 10%;
}
.progress{
     /* background-color: rgb(59, 96, 104); */
    margin:30px;
    margin-top: 0;
     animation-name:progress;
     animation-duration: 5s;
        animation-iteration-count: infinite;
}

#skill{
    background-color:rgb(60, 97, 110) ;
    width: 100%;
    height: 70vh;
}
.skill{
    color: white;
    text-align: center;
    padding: 50px;
}

.container {
      display: flex;
      width: 90%;
      margin-top: 40px;
      /* margin: auto; */
    }


.box1 {
      background-color: greenyellow;

    }

    .box2 {
      background-color: rgb(47, 134, 255);
      padding: 40px;
      width: 50%;
      border-bottom: 5px dotted orangered;
      margin-left: 30px;
      border-right: 200px solid orangered;
      margin-bottom: 40px;
    }



    .container3,
    .container4 {
      width: 100%;
      /* border: 1px solid; */
      margin-left: 60px;

    }

    .box {
      width: 900px;
      height: 30px;
      background-color: rgb(231, 130, 130);
      position: relative;
      border-radius: 20px;
      animation-name: progress;
      animation-duration: 2s;
      animation-iteration-count: 2;

    }

    .box1 {
      width: 700px;
      height: 30px;
      background-color: rgb(231, 130, 130);
      /* position: relative; */
      border-radius: 20px;
      animation-name: progress1;
      animation-duration: 2s;
      animation-iteration-count: 3;
      animation-fill-mode: forwards;

    }

    @keyframes progress {
      from {
        width: 20%;
      }

      to {
        width: 90%;
      }
    }

    /* @keyframes progress1 {
      from {
        width: 100px;
      }

      to {
        width: 800px;
      }
    } */

#project{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    /* padding-bottom: 50px; */
    
}
.card:hover{
  transform: scale(1.3);
  transform:translateY(-5px) scale(1.05);
  box-shadow: 0 17px 30px rgb(75, 118, 133);
  opacity:0.9;
  background-color: rgb(121, 235, 235);
}
/* .card img{
    width: 100%;
     height: 50vh;
    
} */
#footer{
        background-color:rgb(60, 97, 110) ;
        padding-top:5%;
        text-align: center;
        color: white;
}

.icons{
    text-align:start;
    margin-right: 50px;
    /* border: 2px solid black; */
    width: 50%;
    margin: auto;
}
#contact{
text-align:start;
    margin-right:30px;
    /* border: 2px solid black; */
    width: 50%;
    margin: auto;
}
.btn{
background: linear-gradient(90deg,rgba(155, 42, 129, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
 color: white;
 font-size: 20px;
}